Source: linux-latest-ev3dev-rpi2
Section: kernel
Priority: optional
Maintainer: David Lechner <david@lechnology.com>
Build-Depends: debhelper (>= 10.0.0)
Standards-Version: 3.9.8
Vcs-Git: https://github.com/ev3dev/linux-latest-ev3dev-rpi2.git
Vcs-Browser: https://github.com/ev3dev/linux-latest-ev3dev-rpi2

Package: linux-image-ev3dev-rpi2
Architecture: armhf
Provides: linux-modules-4.9.50-ev3dev-1.5.1-rpi2
Depends: ${misc:Depends}, linux-image-4.9.50-ev3dev-1.5.1-rpi2
Description: Linux kernel for ev3dev on Raspberry Pi (metapackage)
 This package depends on the latest Linux kernel and modules from the ev3dev
 project for use on Raspberry Pi.

Package: linux-headers-ev3dev-rpi2
Architecture: armhf
Depends: ${misc:Depends}, linux-headers-4.9.50-ev3dev-1.5.1-rpi2
Description: Header files for Linux rpi2-ev3dev configuration (metapackage)
 This package depends on the latest headers for the latest Linux kernel and
 modules from the ev3dev project for use on Raspberry Pi.
